@import "reset";
@import "fonts";
h1{
  font-family: arial;
  font-size: 40px;
}
h3{
  font-family: arial;
  font-size: 30px;
}
.container {
  width: 1200px;
  &__header{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 1366px){
  .container {
    width: 992px;
  }
}
@media (max-width: 1024px){
  .container {
    width: 768px;
  }
}
@media (max-width: 798px){
  .container {
    width: 90%;

    &__header{
      font-size: 40px;
    }
  }
  .disableScroll{
    overflow: hidden;
    margin-right: 5px!important;
  }
}
@media (max-width: 520px){
  .container {
    padding: 0 10px;
    width: 98%;
  }
}
